html {
    overflow-y:auto;
 }
header {
    position: absolute;
    top: 0;
    width: 100%;
}
.custom-link {
    color: black;
    text-decoration: none;
}
.custom-link:active {
    background-color: yellow; 
    color: red; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #177c7e;
}
.searching {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    
}
.searchBtn {
    background-color: #f8f80c;
    color: #cc0000;
    font-weight: bold;
    border: none;
    margin-bottom: 20%;
}
.searchFld{
    max-width: 50%;
    margin-left: 15%;
    margin-bottom: 20%;
}

.randomGif {
    position: absolute;
    top: 15%; /* Adjust this value as needed */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchFld, .searchBtn {
    
    display: block;
    
    
}

.gif-container {
    position:;
    bottom: 10%; /* Move to the bottom */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gif-container img {
    width: 210px; /* Set the desired width */
    height: 210px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border: #f8f80c 5px ridge; /* Add a border */
}